.map-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.geocoder {
  position: absolute;
  z-index: 1;
  width: 50%;
  max-width: 400px;
}

#geocoder-start {
  left: 50px;
  top: 10px;
}

#geocoder-end {
  left: 320px;
  top: 10px;
}
